<nav>
    <div class="left">
        <ul>
            <li>
                <div id="profile">
                    <p>A</p>
                </div>
            </li>
            <li>
                <a href="https://github.com/Alym62">LEARN</a>
            </li>
            <li>
                <a href="https://github.com/Alym62">BLOG</a>
            </li>
            <li>
                <a href="https://github.com/Alym62">NEWS</a>
            </li>
            <li>
                <a href="https://github.com/Alym62">EBOOK</a>
            </li>
        </ul>
    </div>
    <div class="right">
        <ul>
            <li>
                <a href="https://github.com/Alym62">
                    <img src="assets/icons-twitter.png" alt="logo twitter">
                </a>
            </li>
            <li>
                <a href="https://github.com/Alym62">
                    <img src="assets/icons-reddit.png" alt="logo reddit">
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/alyasaf/">
                    <img src="assets/icons-linkedin.png" alt="logo linkedin">
                </a>
            </li>
        </ul>
    </div>
</nav>